@use "@/shared_components/css/vars.scss" as *;

:deep(.unitOption .box) {
  margin-bottom: 0;
}

.unitOption {
  display: grid;
  grid-gap: 5px;
}

.mobileMode {
  :deep(.normalTitle) {
    padding-top: 0px;
    padding-left: 10px;
  }

  .groupOption {
    margin-top: 5px;
  }

  .inputOption {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;

    input,
    .input {
      order: 5;
      margin-right: 3px;
      margin-left: auto;
    }

    :deep(.infoButton) {
      order: -1;
      margin-right: 8px;
      vertical-align: middle !important;
    }
  }
  
  .mobileRootBorder {
    border: none !important;
    margin: 0 !important;
  }

  .unitOption {
    border: 1px $box_border solid;
    margin: 5px;
    border-radius: $header_radius;
  }

  .hasGroup {
    font-weight: bold;
  }

  .groupMargin {
    margin-top: 10px;
  }

  .mobileInlineGroup {
    border:none !important;
    >* {
      margin: 0 !important;
    }
  }
}
