@use "@/shared_components/css/vars.scss" as *;

html {
  font-family: sans-serif;
  overscroll-behavior: none;
  touch-action: manipulation;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: #006199;
}

form {
  margin: 0;
}

pre {
  margin: 0;
  white-space: pre-wrap;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 18px;
}

h5 {
  margin-top: 10;
  margin-bottom: 0px;
  font-size: 16px;
}

table {
  border-collapse: collapse;

  td {
    text-align: center;
    border: 1px solid $box_border;
    padding: 5px;
  }

  th {
    padding-left: 5px;
    padding-right: 5px;
  }
}

table.dataTable {
  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.025);
  }

  tr {
    position: relative;
  }
}

.dataTable tr:hover {
  background: $hoverColor;
}

.highlight:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $hoverColor;
  pointer-events: none;
}

p {
  text-align: justify;
  margin-top: 0;
}


.box {
  border: 1px solid $box_border;
  padding: $margin;
  box-shadow: $box_shadow;
}

.inputlike {
  border-width: 1px !important;
  border-color: $box_border !important;
  border-style: solid;
  list-style-type: none;
  cursor: text;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-weight: normal;
  &:hover {
    filter: brightness(110%);
  }
  background-color: $input_background;
  color: $fontColor;
}
.inputstyle,
.bouton,
.dg-btn--ok,
.dg-btn--cancel {
  text-align: center !important;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-width: 1px !important;
  border-color: $box_border !important;
  border-style: solid;
  list-style-type: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px -2px $box_border;
  background-repeat: no-repeat;
  box-sizing: border-box;
  font-size: 16px;
  height: 33px;

  &:hover {
    filter: brightness(110%);
  }
}

.bouton,
.dg-btn--ok,
.dg-btn--cancel {
  padding: 5px;
  width: 250px;
}

.hidden {
  display: none;
}


h3 {
  margin: 0;


  > img {
    margin-right: 3px;
  }

  img {
    vertical-align: middle;
  }

  &.titreCategory {
    margin-top: 0;
    margin-bottom: 0;
    background: $title_background;
    color: $fontColorTitle !important;
    padding: 5px;
    font-size: $fontHeaderSize;
  }

  &.titreForce {
    background: $forces_background;
    color: $fontColorForces !important;
    border: 1px solid $box_border;
    font-size: $fontHeaderSize;
    border-top-left-radius: $header_radius;
    border-top-right-radius: $header_radius;
  }


  &.titreTeam {
    background: $title_background;
    color: $fontColorTitle !important;
  }
}

@media screen and (min-width: $mobile_mode) {
  h3.titreForce {
    padding: 5px;
  }
}
@media screen and (max-width: $large_mode) {
  h3.titreForce {
    border-radius:0;
    border-left:none;
    border-right:none;
  }
}

.imageBouton {
  padding-left: 30px;
}

.boutonPlus {
  background-repeat: no-repeat;
  background-image: url(~/static/assets/icons/iconeplus.png);
  background-position: 6px 6px;
}

.boutonMinus {
  background-repeat: no-repeat;
  background-image: url(~/static/assets/icons/iconeminus.png);
  background-position: 7px 12px;
}

.autocomplete-input,
.iconselect-input,
select,
input[type="date"],
input[type="time"],
input[type="number"],
input[type="search"],
input[type="color"],
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[role="combobox"],
button[class="bouton"],
a.bouton {
  border: 1px solid $box_border;
  box-shadow: 2px 2px 5px -2px $box_border;
  margin: 0;
  box-sizing: border-box;
  height: 33px;
  cursor: pointer;
  align-content: center;
  padding-left: 5px;
  padding-right:5px;
}

input[type="color"] {
  background-color: $input_background;
}

select {
  &.multiple {
    align-content: unset;
    padding: 5px;
  }
}

input[type="radio"] {
  width: auto !important;
}

.imgBt {
  cursor: pointer;
}

.imgBt:hover {
  filter: brightness(var(--hover-darken-pct, 85%));
  background-color:  var(--hover-darken-color, rgba(0, 0, 0, 0.15)); 
  border-radius: 4px !important;
}

img.imgBt:hover {
  background-color:  var(--hover-darken-color, rgba(0, 0, 0, 0.15)); 
  border-radius: 4px !important;
}

img.imgBt, .imgBt > img,  .imgBt * img {
  filter: var(--image-filter) !important;
}

.boutons {
  * {
    width: auto;
  }

  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.align-left {
  text-align: left;
}

.centered {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content;
}

@media screen and (min-width: $mobile_mode) {
  .boutons {
    &.vertical {
      grid-template-columns: auto;

      input[type="text"],
      input[type="search"],
      input[type="password"],
      input[type="number"],
      input[type="date"],
      input[type="time"],
      input[role="combobox"],
      input[type="email"],
      input[type="range"],
      .autocomplete-input,
      select,
      a.bouton,
      .iconselect-input,
      button.bouton {
        height: 33px;
        max-width: 250px;
      }
    }
  }
}

@media screen and (max-width: $large_mode) {

  
  .box {
    padding: $small_margin; 
  }

  table {
    width: 100%;
    min-width: unset !important;
  }

  img.print {
    display: none;
  }

  .centered {
    justify-content: unset;
    grid-template-columns: auto;

    * {
      width: auto;
    }
  }
}

.form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 10px 5px;
  align-content: center;
  align-items: center;

  .label {
    grid-column: 1;
  }

  .input {
    display: grid;
    grid-column: 2;

    label {
      font-weight: bold;
    }
  }

  & > .form {
    grid-column: 1/3;
  }
}

.textbf {
  font-weight: bold;
}

.section {
  margin-top: 10px !important;
}

.bigCheck {
  width: 16px;
  height: 16px;
}

h1.ruleTitle {
  font-size: 20px;
}

h2.ruleTitle {
  margin-top: 10px;
  font-size: 18px;
}

h3.ruleTitle {
  margin-top: 10px;
  font-size: 16px;
}

.fluff p {
  font-style: italic;
}


.dg-btn--ok,
.dg-btn--cancel {
  width: auto;
  background-color: white;
  color: black;
}

.listsIcon {
  filter: brightness(1.3) contrast(1.6);
}

.bouton >img {
  position: absolute;
  left: 5px;
  top: 6px;

  max-height: 20px;
}

input:invalid {
  border-color: $red;
  border-width: 2px;
}

// @font-face {
//   font-family: 'Fautisma';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Fautisma'), url('https://fonts.cdnfonts.com/s/83940/Fautisma.woff');
// }

@font-face {
  font-family: "Teko-Bold";
  font-display: block;
  src: url("~/static/Teko-SemiBold.ttf");
}

@font-face {
  font-family: "Bahnschrift";
  font-display: block;
  src: local("Bahnschrift"), url("~/static/Bahnschrift.ttf");
}

.wiki {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  h1 {
    margin-bottom: 10px;
  }

  h2,
  h3 {
    margin-top: 10px;
  }
}

i {
  font-style: $italic;
}
.italic {
  font-style: $italic;
}
.bold {
  font-weight: bold;
}
.inline {
  display: inline;
}
.grey,
.gray {
  color: gray;
}
.nowrap {
  white-space: nowrap;
}
.mono {
  font-family: monospace;
}

pre {
  font-family: sans-serif;
}

.sizedButton {
  button {
    width: 250px !important;
  }
}

input {
  color: var(--font-color);
}

.unselectable,
img,
svg {
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.precision {
  color: $gray;
  font-style: $italic;
  font-weight: normal !important;
  text-shadow: none;
}

h3.popup {
  margin-top: 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding: 2px;
  padding-left: 5px;
}

.winner {
  color: rgb(67, 153, 67);
}

.loser {
  color: rgb(230, 78, 78);
}

.draw {
  color: rgb(107, 107, 107);
}
.hover-darken:hover {
  filter: brightness(var(--hover-darken-pct, 85%));
  background-color:  var(--hover-darken-color, rgba(0, 0, 0, 0.15)); 
  border-radius: 4px;

}
.hover-brighten:hover {
  filter: brightness(var(--hover-brighten-pct,115%));
  background-color: var(--hover-brighten-color, rgba(255, 255, 255, 0.15));
}
.hover-slightly-darken:hover {
  filter: brightness(var(--hover-darken-pct, 95%));
  background-color:  var(--hover-slightly-darken-color, rgba(0, 0, 0, 0.05)); 
  border-radius: 4px;
}

.hover-underline:hover {
  text-decoration: underline;
}
.underline {
  text-decoration: underline;
}
.clickable {
  cursor: pointer;
}
.hastooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

html.dark .scrollable{
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0);
}

.scrollable::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  // border-top: 1px solid $box_border;
}

.border {
  border: 1px solid $box_border;
  border-collapse: collapse;
}

.bg {
  background-color: $background_color;
}

.text {
  color: $fontColor;
}

input[type="text"]:disabled {
  color: $gray;
  border-color: $box_border;
}

// input[type="text"]:valid {
//   border-color: $green;
//   border-width: 2px;
// }

input[type="text"]:invalid {
  border-color: $red;
  border-width: 2px;
}

@media print {
  body {
    > *:not(.printable) {
      display: none;
    }
  }
}

@media print {
  .printer-hidden {
    display: none;
  }
}

@keyframes blink {
  0%, 2%, 4%, 6%, 8%, 100% { opacity: 1; }
  1%, 3%, 5%, 7% { opacity: 0; }
  10%, 100% { opacity: 1; }
}
.blink {
  animation: blink 3s infinite;
}